
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cart-info{
  display: flex;
  flex-direction: column;
}

.cart-info button{
  width: 100px; 
  margin-bottom: 10px;
}

.cart-info span{
  margin-bottom: 10px;
  color: red;
}
